# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
venv/
.env

# Backend uploads and models
backend/static/uploaded_images/
backend/__pycache__/
backend/*.pyc
backend/users.db

# Node
frontend/node_modules/
frontend/dist/

# Editor
.vscode/
.idea/
*.swp
